@{
    Layout = "_BaseLayout";
}

<body>
    @RenderBody()
    @await Html.PartialAsync("Partial/_AuthSharedScripts")
    @await Html.PartialAsync("Partial/_GoogleAnalyticsObject")
</body>

@section Styles {
    @RenderSection("Styles", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}