@{
    Layout = "_BaseLayout";
}

<body class="layout layout-header-fixed">
    @await Html.PartialAsync("Partial/_NavBar")
    <div class="layout-main">
        @await Html.PartialAsync("Partial/_SideBar")
        <div class="layout-content">
            <div class="layout-content-body">
                @RenderBody()
            </div>
        </div>
        @await Html.PartialAsync("Partial/_Footer")
    </div>
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/elephant.js" asp-append-version="true"></script>
    <script src="~/js/application.js" asp-append-version="true"></script>
    @await Html.PartialAsync("Partial/_GoogleAnalyticsObject")
</body>

@section Styles {
    @RenderSection("Styles", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}