@{
    Layout = "_BaseLayout";
}


@await Html.PartialAsync("Partial/_DevBlogNavBar")
<div class="contentWrap">
    @RenderBody()
</div>


@section Styles
{
    <link href="~/css/landing-page.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/custom/Override/override-landing-page.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/profile.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/custom/DevBlog/devBlog.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", false)
}

@section Scripts
{
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/elephant.js" asp-append-version="true"></script>
    <script src="~/js/application.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
}
