@using System.Security.Cryptography
@using AspNet.Security.OpenId.Steam
@using Microsoft.AspNetCore.Http
@model EasyShop.Domain.ViewModels.RustStore.Store.RustStoreViewModel

@{
    ViewData["Title"] = "EFCoreStore Sample";
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;

    Layout = "_BaseLayout";
}

<img style="width: 100%;" src="http://testshop123.gamestores.ru/img/games/gamestores.png" alt="Service logo" />

<div class="store">
    <div class="store-sidebar">
        <div id="filters" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="widget">
                            <div class="widget-product-brands">
                                <div class="product-brands">
                                    <div class="product-brands-search">
                                        <div class="form-group form-group-sm">
                                            <div class="input-with-icon">
                                                <input class="form-control thick" type="text" placeholder="Search available brands&hellip;">
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-brands-results">
                                        <div class="custom-scrollbar">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" checked="">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Burberry</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Columbia</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Patagonia</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Kakadu Traders Australia</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Kenneth Roberts</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">The North Face</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Tommy Hilfiger</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Polo Ralph Lauren</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Black Mountain</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Boston Harbour</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Oscar de la Renta</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Paper Denim &amp; Cloth</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="store-content">
        <div class="row">
            <div class="col-xs-12">
                @if (Model.Products != null)
                {
                    <ul class="products">
                        @foreach (var product in Model.Products)
                        {
                            <li class="product">
                                <div class="product-image">
                                    <a class="overlay" href="#">
                                        <div class="overlay-image">
                                            <img class="img-responsive" src="@product.ImgUrl" alt="@product.Name">
                                        </div>
                                        <div class="overlay-content overlay-top" style="@(product.Discount > 0 ? "" : "Display: none;")">
                                            <span class="label label-success pull-right">SALE!</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="product-details">
                                    <h5 class="product-name">
                                        <a class="link-muted" href="#">@product.Name</a>
                                    </h5>
                                    <span class="product-price">
                                        <span class="product-price-current">$@product.Price</span>
                                        <span class="product-price-old">$00.00</span>
                                    </span>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h2>No products found in this shop</h2>
                }
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/css/override/elephant-override.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/override/application-override.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/store.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/side-bar.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/nav-bar.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{

}
