
@{
    ViewData["Title"] = "Please Log-In";
    Layout = "_BaseLayout";
}

<img style="width: 100%;" src="http://testshop123.gamestores.ru/img/games/gamestores.png" alt="Service logo" />
<h3 class="well text-center">Please login first and then try again.</h3>

