@{
    ViewData["Title"] = "Something went wrong";
    Layout = "Partial/_Layout";
}

<div class="well text-center">
    <h1><span class="icon icon-gears"></span></h1>
    <p class="text-warning">Something went wrong. Please be patient and try again in 5-15 minutes. If you see this message not the first time, please contact support.</p>
</div>