@model Dictionary<string, int>

<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-shopping-cart"></span>
        <span class="sidenav-label">Shops</span>
    </a>
    <ul class="sidenav-subnav collapse" aria-expanded="false">
        <li class="sidenav-subheading">UI Elements</li>
        @{
            <li><a asp-area="" asp-controller="ShopManager" asp-action="Index"><span style="color: #00aced">Shops manager</span></a></li>
            foreach (var (key, value) in Model)
            {
                <li><a asp-area="" asp-controller="ShopManager" asp-action="EditShop" asp-route-id="@value">@key</a></li>
            }
        }
    </ul>
</li>
