@model EasyShop.Domain.ViewModels.Shop.ShopsManagerViewModel

<li class="sidenav-item has-subnav">
    <a asp-area="" asp-controller="ShopManager" asp-action="ShopsManager" aria-haspopup="true">
        <span class="sidenav-icon icon icon-briefcase"></span>
        <span class="sidenav-label">UI Elements</span>
    </a>
    <ul class="sidenav-subnav collapse">
        <li><a asp-area="" asp-controller="ShopManager" asp-action="ShopsManager">Shops manager</a></li>
        @{
            foreach (var shop in Model.Shops)
            {
                <li><a asp-area="" asp-controller="ShopManager" asp-action="EditShopHandler" asp-route-shopId="@shop.Id">@shop.ShopName</a></li>
            }
        }
    </ul>
</li>