@model string
@{
    ViewData["Title"] = "Something went wrong";
    Layout = "_ControlPanelLayout";
}

<div class="well text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Something went wrong on @Model, please try again.</h1>
        </div>
    </div>
</div>

