.product:hover {
    transition: 0.1s;
    background-color: rgba(217, 35, 14, 0.3);
}

.shop-title {
    margin: 0;
}

.modal-content {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.widget {
    margin-bottom: 0;
    padding-bottom: 0;
}

.uidBalanceWrap {
    margin: 56px 0 0 0;
}

.product {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.panel-no-shadow {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget .btn {
    -webkit-box-sizing: none;
    box-sizing: none;
    display: block;
    float: left;
    height: none;
    line-height: none;
    margin-bottom: none;
    margin-right: none;
    padding: none;
    width: 98%;
}

@media (min-width: 992px) {
    .modal-dialog {
        width: auto;
        border-radius: 4px;
    }
}

@media (min-width: 1200px) {
    .product:nth-child(4n+1) {
        clear: none;
    }
}

@media (max-width: 991px) {
    .product:nth-child(2n+1) {
        clear: none;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    .product:nth-child(3n+1) {
        clear: none;
    }
}


