@{
    ViewData["Title"] = "Please Log-In";
    Layout = "_MainLayout";
}

@await Component.InvokeAsync("TenantNavBar")

<div class="panel panel-body">
    <div class="well m-b-0">
        <h3 class="text-center m-b-0 m-t-0">Please login first and then try again.</h3>
    </div>
</div>

