@model EasyShop.Domain.ViewModels.ControlPanel.Shop.CreateShopViewModel

@{
    ViewData["Title"] = "Create a new shop";
    Layout = "_ControlPanelLayout";
}

<div class="well">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Create a new shop</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="demo-form-wrapper">
                <form method="post" asp-area="" asp-controller="ShopManager" asp-action="CreateShop">
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <div class="form-group">
                        <label>Shop name</label>
                        <input asp-for="ShopName" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Shop title</label>
                        <input asp-for="ShopTitle" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Shop start balance</label>
                        <input asp-for="StartBalance" class="form-control">
                        <span class="help-block">Input example (0.99 or 150.00)</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Game</label>
                        <select asp-for="GameType" class="custom-select">
                            <option value="Rust">Rust</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-control-primary custom-checkbox">
                            <input asp-for="AddDefaultItems" class="custom-control-input" type="checkbox" checked="checked">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-label">Add default items into the shop?</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>