<nav id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us</a></li>
        <li><a asp-area="" asp-controller="DevBlog" asp-action="PostsList">Dev-Blog</a></li>
        <li><a asp-area="" asp-controller="UserProfile" asp-action="Profile">Profile</a></li>
        <li>
            <div class="navbar-btn-group">
                <a class="navbar-btn btn btn-outline-success btn-block" asp-area="" asp-controller="ControlPanel" asp-action="Dashboard">Control panel</a>
            </div>
            <div class="navbar-btn-group">
                <a class="navbar-btn btn btn-primary btn-block" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
            </div>
        </li>
    </ul>
</nav>
