@using EasyShop.Domain.Entries.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<nav id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Faq</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Contact</a></li>
        <li>
            <div class="navbar-btn-group">
                <a class="navbar-btn btn btn-outline-success btn-block" asp-area="" asp-controller="ControlPanel" asp-action="Dashboard" asp-route-userId="@UserManager.FindByEmailAsync(User.Identity.Name).Result.Id">Control panel</a>
            </div>
            <div class="navbar-btn-group">
                <a class="navbar-btn btn btn-primary btn-block" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
            </div>
        </li>
    </ul>
</nav>
