<div class="row">
    <div class="col-lg-12">
        <div class="list-group-divided">
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="MainSettings">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Main settings
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="Products">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Products
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="Categories">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Categories
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="Cart">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Cart
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="Players">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Players
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="PurchaseHistory">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Purchase history
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="PromoCodes">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Promo codes
            </a>
            <a class="list-group-item" asp-area="" asp-controller="ShopManager" asp-action="Bonuses">
                <span class="icon icon-user icon-lg icon-fw"></span>
                Bonuses
            </a>
        </div>
    </div>
</div>