@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="layout-footer">
    <div class="layout-footer-body">
        <small class="version">Version @Configuration["AppVersion"]</small>
        <small class="copyright">&copy; @DateTime.Today.Year <a target="_blank" href="https://server-monetization.com/">Made by Server-Monetization</a></small>
    </div>
</div>