<div class="modal-background fade-in" id="buy-modal-bg">

</div>

<div class="panel panel-body custom-modal fade-in-down" id="buy-modal">
    <div class="modal-content-custom">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="text-center">
                <img class="buy-modal-img" id="byu-modal-product-img" src="https://gamestores.ru/img/games/rust/2123300234.png" alt="Product image" />
                <h4 id="byu-modal-product-title" class="modal-title">Crossbow</h4>
            </div>
        </div>
        <div class="text-center">
            <h1>Logic</h1>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>
