<div class="panel panel-body custom-modal" id="customModal">
    <div class="custom-modal-header bg-primary text-center">
        Header
    </div>
    <div class="custom-modal-content">
        <h1>Content</h1>
        <p>Content text</p>
    </div>
    <div class="custom-modal-footer">Footer</div>
</div>