@using EasyShop.Services.Data.FirstRunInitialization.IdentityInitialization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@model EasyShop.Domain.ViewModels.User.UserData.AppUserViewModel
@inject IConfiguration Configuration;

@{
    string version = Configuration["AppVersion"];
}

<li class="visible-xs-block">
    <h4 class="navbar-text text-center">@($"{Model.FirstName} {Model.LastName}")</h4>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
        <span class="icon-with-child hidden-xs">
            <span class="icon icon-bell-o icon-lg"></span>
            <span class="badge badge-danger badge-above right">7</span>
        </span>
        <span class="visible-xs-block">
            <span class="icon icon-bell icon-lg icon-fw"></span>
            <span class="badge badge-danger pull-right">7</span>
            Notifications
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
        <div class="dropdown-header">
            <a class="dropdown-link" href="#">Mark all as read</a>
            <h5 class="dropdown-heading">Recent Notifications</h5>
        </div>
        <div class="dropdown-body">
            <div class="list-group list-group-divided custom-scrollbar">
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">35 min</small>
                            <h5 class="notification-heading">Update Status</h5>
                            <p class="notification-text">
                                <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <span class="icon icon-flag bg-success rounded sq-40"></span>
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">43 min</small>
                            <h5 class="notification-heading">Account Contact Change</h5>
                            <p class="notification-text">
                                <small class="truncate">A contact detail associated with your account teddy.wilson, has recently changed.</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">1 hr</small>
                            <h5 class="notification-heading">Failed LoginAsync Warning</h5>
                            <p class="notification-text">
                                <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account teddy.wilson.</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="~/img/0310728269.jpg" alt="Daniel Taylor">
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">4 hr</small>
                            <h5 class="notification-heading">Daniel Taylor</h5>
                            <p class="notification-text">
                                <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="~/img/0872116906.jpg" alt="Emma Lewis">
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">8 hr</small>
                            <h5 class="notification-heading">Emma Lewis</h5>
                            <p class="notification-text">
                                <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="~/img/0601274412.jpg" alt="Sophia Evans">
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">8 hr</small>
                            <h5 class="notification-heading">Sophia Evans</h5>
                            <p class="notification-text">
                                <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="#">
                    <div class="notification">
                        <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="~/img/0601274412.jpg" alt="Sophia Evans">
                        </div>
                        <div class="notification-content">
                            <small class="notification-timestamp">9 hr</small>
                            <h5 class="notification-heading">Teddy Wilson</h5>
                            <p class="notification-text">
                                <small class="truncate">Published a new post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="dropdown-footer">
            <a class="dropdown-btn" href="#">See All</a>
        </div>
    </div>
</li>
@if (Model.Roles.Contains(DefaultIdentity.RoleAdmin))
{
    <li class="visible-xs-block">
        <a asp-area="" asp-controller="Admin" asp-action="Index">
            <span class="icon icon-wrench icon-lg icon-fw"></span>
            Admin panel
        </a>
    </li>
}
<li class="visible-xs-block">
    <a asp-area="" asp-controller="UserProfile" asp-action="Profile">
        <span class="icon icon-users icon-lg icon-fw"></span>
        Profile
    </a>
</li>
<li class="visible-xs-block">
    <a asp-area="" asp-controller="Account" asp-action="LogOut">
        <span class="icon icon-power-off icon-lg icon-fw"></span>
        Sign out
    </a>
</li>
<li class="dropdown hidden-xs">
    <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
        <img class="rounded" width="36" height="36" src="~/UserImages/@Model.ProfileImage" alt="@($"{Model.FirstName} {@Model.LastName}")"> @($"{Model.FirstName} {@Model.LastName}")
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        @*<li>
                <a href="upgrade.html">
                    <h5 class="navbar-upgrade-heading">
                        Upgrade Now
                        <small class="navbar-upgrade-notification">You have 15 days left in your trial.</small>
                    </h5>
                </a>
            </li>*@
        @{
            if (Model.Roles.Contains(DefaultIdentity.RoleAdmin))
            {
                <li><a asp-area="" asp-controller="Admin" asp-action="Index">AdminPanel</a></li>
            }
        }
        <li class="divider"></li>
        <li class="navbar-upgrade-version">@version</li>
        <li class="divider"></li>
        <li><a asp-area="" asp-controller="UserProfile" asp-action="Profile">Profile</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a></li>
    </ul>
</li>
