@{
    Layout = "Partial/_BaseLayout";
}

<body>
    @RenderBody()
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/elephant.min.js"></script>
    @await Html.PartialAsync("Partial/_GoogleAnalyticsObject")
</body>