<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/manifest.json">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#00aced">
    <meta name="theme-color" content="#1b1b1b">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/elephant.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/application.min.css" asp-append-version="true">
</head>
<body class="layout layout-header-fixed">
    @RenderBody()
    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/elephant.min.js" asp-append-version="true"></script>
    <script src="~/js/application.min.js" asp-append-version="true"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-83990101-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>