<div class="layout-footer">
    <div class="layout-footer-body">
        <small>Thank you for creating with <a href="http://demo.naksoid.com/elephant/">Elephant Template</a>.</small>
    </div>
</div>