@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    string version = Configuration["AppVersion"];
}

<div class="layout-footer">
    <div class="layout-footer-body">
        <small class="version">@version</small>
        <small class="copyright">@DateTime.Now.Year &copy; Monetization <a href="http://birula.info/" target="_blank">A.Birula</a></small>
    </div>
</div>