<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4 class="footer-heading">Server-Monetization</h4>
                <p>
                    <small>Make money on your gaming server! We will provide the best service to do that.</small>
                </p>
                <div class="social-list">
                    <a class="social-list-item" target="_blank" href="https://twitter.com/ServerMonetiza1">
                        <span class="icon icon-twitter"></span>
                    </a>
                    <a class="social-list-item" target="_blank" href="https://www.facebook.com/groups/171782827404971/">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a class="social-list-item" target="_blank" href="https://www.linkedin.com/groups/8886524/">
                        <span class="icon icon-linkedin"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-md-offset-2">
                <h4 class="footer-heading">Server-Monetization</h4>
                <ul class="footer-links">
                    <li>
                        <a asp-area="" asp-controller="DevBlog" asp-Action="PostsList">
                            <span class="icon icon-angle-right"></span>
                            Server-Monetization Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h4 class="footer-heading">Help</h4>
                <ul class="footer-links">
                    <li>
                        <a asp-area="" asp-controller="ContactUs" asp-action="CreateBugReport">
                            <span class="icon icon-angle-right"></span>
                            Bug report
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/ice19942335">
                            <span class="icon icon-angle-right"></span>
                            P2P Support
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>© @DateTime.Today.Year Server-Monetization. All rights reserved.</p>
    </div>
</div>