<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4 class="footer-heading">Elephant</h4>
                <p>
                    <small>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac fermentum nibh, sit amet volutpat.</small>
                </p>
                <div class="social-list">
                    <a class="social-list-item" href="#">
                        <span class="icon icon-twitter"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-linkedin"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-vimeo"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-md-offset-2">
                <h4 class="footer-heading">Elephant</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Guidelines
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Staff
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h4 class="footer-heading">Help</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Help Center
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            FAQs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Forums
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h4 class="footer-heading">Upgrade</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Personal
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Organization
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Organization Plus
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Enterprise
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>© 2016 Elephant, LLC. All rights reserved.</p>
    </div>
</div>