<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <nav id="sidenav" class="sidenav-collapse collapse">
            <ul class="sidenav">
                <li class="sidenav-heading">Navigation</li>
                <li class="sidenav-item">
                    <a href="/">
                        <span class="sidenav-icon icon icon-th"></span>
                        <span class="sidenav-label">Basic template</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>