
@{
    ViewData["Title"] = "Bug report was sent";
    Layout = "Partial/_ContactUsLayout";
}

<div class="well well-transparrent">
    <h3 class="text-center">
        <span class="icon icon-check icon-lg"></span> Thank you!
    </h3>
    <h4>The report was sent.</h4>
    <p>We will review it in the shortest possible time, and we will let you know about the process by email.</p>
    <small>Kind regards<br>Monetization Team</small>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/custom/Shared/custom-shared-styles.css" asp-append-version="true" />
}

