@model EasyShop.Domain.ViewModels.RustStore.Store.UserStatus.RustStoreUserStatusViewModel

@{
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;
}

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-with-child hidden-xs" style="color: #d9230f;">
                <span class="icon icon-dollar icon-lg"></span>
                @Model.Balance
            </span>
            <span class="visible-xs-block">
                <span class="icon icon-dollar icon-lg icon-fw" style="color: #d9230f;"></span>
                @Model.Balance
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
            <div class="dropdown-body">
                <div class="custom-scrollable-area" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                    <div class="list-group list-group-divided custom-scrollbar" style="overflow: hidden; width: 100%; height: 100%; margin-bottom: 0;">
                        <a class="list-group-item" asp-controller="Payment" asp-action="TopUpBalance">
                            <div class="notification">
                                <div class="notification-content">
                                    <h5 class="notification-heading">Top-Up</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>

    @*Size: md+*@
    <li class="hidden-xs">
        <a asp-controller="Store" asp-action="Store">
            <span class="icon icon-shopping-bag icon-lg icon-fw"></span>
            Store
        </a>
    </li>
    <li class="hidden-xs">
        <a asp-controller="Account" asp-action="Profile">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="hidden-xs">
        <form action="@($"/{tenantInfo.Identifier}/authentication/signout")" method="get">
            <button class="btn btn-primary login-btn" type="submit">Log out</button>
        </form>
    </li>

    @*Size: xs*@
    <li class="visible-xs-block">
        <a asp-controller="Store" asp-action="Store">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="visible-xs-block">
        <a asp-controller="Account" asp-action="Profile">
            <span class="icon icon-shopping-bag icon-lg icon-fw"></span>
            Store
        </a>
    </li>
    <li class="visible-xs-block">
        <form action="@($"/{tenantInfo.Identifier}/authentication/signout")" method="get">
            <button class="btn btn-primary login-btn" type="submit">Log out</button>
        </form>
    </li>
</ul>