@{
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;
}

<ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs">
        <a href="#">
            <span class="icon icon-shopping-cart icon-lg icon-fw"></span>
            Cart
        </a>
    </li>
    <li class="hidden-xs">
        <a href="#">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="hidden-xs">
        <form action="@($"/{tenantInfo.Identifier}/authentication/signout")" method="get">
            <button class="btn btn-primary m-1 login-btn" type="submit">Log out</button>
        </form>
    </li>

    <li class="visible-xs-block">
        <a href="#">
            <span class="icon icon-shopping-cart icon-lg icon-fw"></span>
            Cart
        </a>
    </li>
    <li class="visible-xs-block">
        <a href="#">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="visible-xs-block">
        <form action="@($"/{tenantInfo.Identifier}/authentication/signout")" method="get">
            <button class="btn btn-primary m-1 login-btn" type="submit">Log out</button>
        </form>
    </li>
</ul>