@{
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;
}

@*<a class="btn btn-lg btn-danger" href="@($"/{tenantInfo.Identifier}/authentication/signout")">Sign out</a>*@

<ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs">
        <a href="contacts.html">
            <span class="icon icon-users icon-lg icon-fw"></span>
            Contacts
        </a>
    </li>
    <li class="hidden-xs">
        <a href="profile.html">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="hidden-xs">
        <a href="@($"/{tenantInfo.Identifier}/authentication/signout")">
            <span class="icon icon-power-off icon-lg icon-fw text-primary"></span>
            <strong>Log out</strong>
        </a>
    </li>

    <li class="visible-xs-block">
        <a href="contacts.html">
            <span class="icon icon-users icon-lg icon-fw"></span>
            Contacts
        </a>
    </li>
    <li class="visible-xs-block">
        <a href="profile.html">
            <span class="icon icon-user icon-lg icon-fw"></span>
            Profile
        </a>
    </li>
    <li class="visible-xs-block">
        <a href="@($"/{tenantInfo.Identifier}/authentication/signout")">
            <span class="icon icon-power-off icon-lg icon-fw text-primary"></span>
            <strong>Log out</strong>
        </a>
    </li>
</ul>