@model (string, string)

<div class="title-bar">
    <div class="panel panel-body">
        <a href="@($"/{Model.Item1}")">
            <strong class="custom-nav-link">@Model.Item2</strong>
        </a>
    </div>
</div>

