@{
    ViewData["Title"] = "AllowedShopsLimitIsReached";
    Layout = "_ControlPanelLayout";
}

<div class="well text-center">
    <h3>At the moment we allow ten shops only, with no charge per shop.</h3>
    <span>Back to </span><a asp-area="" asp-controller="ShopManager" asp-action="ShopsManager"><strong style="color: #00aced">Shop manager</strong></a>
</div>