<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="Server-Monetization provide service to siplify and automatize donation on gaming servers https://www.server-monetization.com">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/elephant.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/application.min.css" asp-append-version="true">

    <link href="~/css/override/elephant-override.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/override/application-override.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/side-bar.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/nav-bar.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/modal-custom.css" rel="stylesheet" />
    <link href="~/css/custom-styles.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>

<body class="layout layout-header-fixed layout-sidebar-fixed layout-footer-fixed well-custom">
    @await Html.PartialAsync("Partial/_Header")
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container">
                    <img class="m-b-md" style="width: 100%;" src="https://i.imgur.com/jcNgsYp.png" alt="Service logo" />
                    @RenderBody()
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Partial/_Footer")
        @await Html.PartialAsync("Partial/_Modal")
    </div>

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/elephant.min.js" asp-append-version="true"></script>
    <script src="~/js/application.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-83990101-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>