@{
    ViewData["Title"] = "Password reset confirmation";
    Layout = "_AuthLayout";
}

<div class="login">
    <div class="login-body">
        <a class="login-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img class="img-responsive" src="~/img/LogoNameSlogan.png" alt="Monetization">
        </a>
        <div class="well text-center">
            <p>
                Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
            </p>
        </div>

    </div>
    <div class="login-footer">
        Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/login-2.css" asp-append-version="true">
}
