@model EasyShop.Domain.Entries.Rust.RustProduct
@{
    ViewData["Title"] = "Success-full purchase";
    Layout = "_MainLayout";
}

<h1>PurchaseSuccess</h1>
<img src="@Model.RustItem.ImgUrl" alt="Rust product"/>

