@model EasyShop.Domain.ViewModels.RustStore.Payment.PayPalPaymentFailed
@{
    ViewData["Title"] = "Error on payment execution";
    Layout = "_MainLayout";
}

@await Component.InvokeAsync("TenantNavBar")

<h1>Error on payment execution</h1>

