@model EasyShop.Domain.ViewModels.RustStore.Payment.PayPalPaymentSuccess
@{
    ViewData["Title"] = "SuccessPayment";
    Layout = "_MainLayout";
}

@await Component.InvokeAsync("TenantNavBar")

<div class="panel panel-body">
    <div class="well text-center">
        <h3>Success!</h3>
        <h4>Current balance: $@Model.CurrentBalance</h4>
    </div>
</div>


