@model EasyShop.Domain.ViewModels.CP.Notification.NotificationViewModel
@{
    ViewData["Title"] = "Add / Edit Notification";
    Layout = "_AdminLayout";
}

<div class="well text-center">
    <h2>Add / Edit Notification</h2>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="demo-form-wrapper">
                <form method="post" asp-area="" asp-controller="Notification" asp-action="EditNotification">
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <input asp-for="Id" hidden />
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <div class="form-group">
                        <label class="pull-left">Title</label>
                        <input asp-for="Title" class="form-control" type="text" placeholder="Notification title">
                    </div>
                    <span asp-validation-for="Message" class="text-danger"></span>
                    <div class="form-group m-b-md">
                        <label class="pull-left">Text</label>
                        <input class="form-control" asp-for="Message" placeholder="Notification text"/>
                    </div>
                    <span asp-validation-for="LinkTitle" class="text-danger"></span>
                    <div class="form-group">
                        <label class="pull-left">Link title</label>
                        <input asp-for="LinkTitle" class="form-control" type="text" placeholder="Link title">
                    </div>
                    <span asp-validation-for="Link" class="text-danger"></span>
                    <div class="form-group">
                        <label class="pull-left">Link</label>
                        <input asp-for="Link" class="form-control" type="text" placeholder="Link">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Add / Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.Updated)
{
    <script>
        toastr.success('Notification updated!');
    </script>
}