@model EasyShop.Domain.ViewModels.Shop.Rust.EditMainSettingsRustShopViewModel
@{
    ViewData["Title"] = "Edit rust Shop";
    Layout = "Partial/_RustShopLayout";
}

<div class="well">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Main settings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="demo-form-wrapper">
                <form method="post" asp-area="" asp-controller="RustShop" asp-action="EditMainSettings">
                    <input asp-for="Id" type="hidden"/>
                    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
                    <div class="form-group">
                        <label>Shop name</label>
                        <input asp-for="ShopName" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Shop title</label>
                        <input asp-for="ShopTitle" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Start balance</label>
                        <input asp-for="StartBalance" class="form-control">
                        <span class="help-block">Input example (9,99 or 150,00)</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
