@model EasyShop.Domain.ViewModels.Shop.Rust.RustShopViewModel
@{
    ViewData["Title"] = "Product manager";
    Layout = "Partial/_RustEditLayout";
}


<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="myTable" class="table table-middle">
                <thead>
                    <tr>
                        <th>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th>Customer</th>
                        <th>Subject</th>
                        <th>Updated</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1099386850.jpg" alt="Jessica Brown">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jessica Brown</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aliquam viverra, metus eget dictum vestibulum, er.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2995015682.jpg" alt="Adelaide Kane">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Adelaide Kane</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris vulputate dolor vel torto.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2234124529.jpg" alt="Dave Hamilton">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Dave Hamilton</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed cursus sodales scelerisque suspendisse e.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1703835345.jpg" alt="Rebecca Fox">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Rebecca Fox</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aenean et scelerisque velit sed at i.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2079247459.jpg" alt="John Miller">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>John Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Vivamus tincidunt lacinia ipsum aliquam blandit .</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1376812548.jpg" alt="Brad Miller">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Brad Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nulla eleifend nisi vitae lacus convallis.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2832982242.jpg" alt="Agatha Ford">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Agatha Ford</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed tempor, dolor vel pulvinar tempus, lorem mauris p.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1823060748.jpg" alt="Mitt Owen">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Mitt Owen</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris sodales auctor justo, id fringilla nisi cum sociis nat.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2163317912.jpg" alt="Jason Saunders">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jason Saunders</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nam posuere pharetra ligula, vitae lob.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1699893867.jpg" alt="Ruby Dixon">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Ruby Dixon</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Praesent ac lobortis libero phasellus.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1099386850.jpg" alt="Jessica Brown">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jessica Brown</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aliquam viverra, metus eget dictum vestibulum, er.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2995015682.jpg" alt="Adelaide Kane">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Adelaide Kane</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris vulputate dolor vel torto.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2234124529.jpg" alt="Dave Hamilton">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Dave Hamilton</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed cursus sodales scelerisque suspendisse e.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1703835345.jpg" alt="Rebecca Fox">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Rebecca Fox</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aenean et scelerisque velit sed at i.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2079247459.jpg" alt="John Miller">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>John Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Vivamus tincidunt lacinia ipsum aliquam blandit .</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1376812548.jpg" alt="Brad Miller">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Brad Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nulla eleifend nisi vitae lacus convallis.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2832982242.jpg" alt="Agatha Ford">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Agatha Ford</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed tempor, dolor vel pulvinar tempus, lorem mauris p.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1823060748.jpg" alt="Mitt Owen">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Mitt Owen</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris sodales auctor justo, id fringilla nisi cum sociis nat.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2163317912.jpg" alt="Jason Saunders">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jason Saunders</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nam posuere pharetra ligula, vitae lob.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1699893867.jpg" alt="Ruby Dixon">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Ruby Dixon</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Praesent ac lobortis libero phasellus.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1099386850.jpg" alt="Jessica Brown">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jessica Brown</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aliquam viverra, metus eget dictum vestibulum, er.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2995015682.jpg" alt="Adelaide Kane">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Adelaide Kane</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris vulputate dolor vel torto.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2234124529.jpg" alt="Dave Hamilton">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Dave Hamilton</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed cursus sodales scelerisque suspendisse e.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1703835345.jpg" alt="Rebecca Fox">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Rebecca Fox</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aenean et scelerisque velit sed at i.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2079247459.jpg" alt="John Miller">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>John Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Vivamus tincidunt lacinia ipsum aliquam blandit .</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1376812548.jpg" alt="Brad Miller">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Brad Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nulla eleifend nisi vitae lacus convallis.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2832982242.jpg" alt="Agatha Ford">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Agatha Ford</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed tempor, dolor vel pulvinar tempus, lorem mauris p.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1823060748.jpg" alt="Mitt Owen">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Mitt Owen</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris sodales auctor justo, id fringilla nisi cum sociis nat.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2163317912.jpg" alt="Jason Saunders">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jason Saunders</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nam posuere pharetra ligula, vitae lob.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1699893867.jpg" alt="Ruby Dixon">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Ruby Dixon</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Praesent ac lobortis libero phasellus.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1099386850.jpg" alt="Jessica Brown">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jessica Brown</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aliquam viverra, metus eget dictum vestibulum, er.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2995015682.jpg" alt="Adelaide Kane">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Adelaide Kane</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris vulputate dolor vel torto.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2234124529.jpg" alt="Dave Hamilton">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Dave Hamilton</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed cursus sodales scelerisque suspendisse e.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-info label-pill">New</span>
                        </td>
                        <td>Low</td>
                        <td>Unassigned</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Assigned to me</a></li>
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1703835345.jpg" alt="Rebecca Fox">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Rebecca Fox</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Aenean et scelerisque velit sed at i.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2079247459.jpg" alt="John Miller">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>John Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Vivamus tincidunt lacinia ipsum aliquam blandit .</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Me</td>
                        <td>
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1376812548.jpg" alt="Brad Miller">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Brad Miller</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nulla eleifend nisi vitae lacus convallis.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2832982242.jpg" alt="Agatha Ford">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Agatha Ford</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Sed tempor, dolor vel pulvinar tempus, lorem mauris p.</span>
                        </td>
                        <td>21-Jun-2016</td>
                        <td>
                            <span class="label label-primary label-pill">Open</span>
                        </td>
                        <td>High</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1823060748.jpg" alt="Mitt Owen">
                                <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Mitt Owen</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Mauris sodales auctor justo, id fringilla nisi cum sociis nat.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Eliot Morgan</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/2163317912.jpg" alt="Jason Saunders">
                                <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jason Saunders</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Nam posuere pharetra ligula, vitae lob.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Low</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td class="nowrap">
                            <span class="icon-with-child m-r">
                                <img class="circle" width="36" height="36" src="img/1699893867.jpg" alt="Ruby Dixon">
                                <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Ruby Dixon</strong>
                        </td>
                        <td class="maw-320">
                            <span class="truncate">Praesent ac lobortis libero phasellus.</span>
                        </td>
                        <td>20-Jun-2016</td>
                        <td>
                            <span class="label label-success label-pill">Closed</span>
                        </td>
                        <td>Medium</td>
                        <td>Daniel Taylor</td>
                        <td>
                            <div class="btn-group pull-right dropup">
                                <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Flag this ticket</a></li>
                                    <li><a href="#">Mark this ticket as spam</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
}

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
