@using EasyShop.Domain.Enums.Rust
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore.Internal
@model EasyShop.Domain.ViewModels.Rust.Shop.RustShopViewModel
@{
    ViewData["Title"] = "Rust shop";
    Layout = "Partial/_RustBaseLayout";

    #region SelectPeriod

    string selectOptions = string.Empty;
    foreach (var item in Model.StatsPeriodList)
    {
        if (item == Model.StatsPeriod)
        {
            selectOptions += $@"<option value=""{item}"" selected=""selected"">{item.ToString().Replace("_", " ")}</option>";
        }
        else
        {
            selectOptions += $@"<option value=""{item}"">{item.ToString().Replace("_", " ")}</option>";
        }
    }

    #endregion SelectPeriod

    #region RevenueData 

    var revenueData = Model.Stats.FirstOrDefault(x => x.Key == RustShopStatsUnitEnum.Revenue);
    string revenueDates = string.Empty;
    string revenueTotal = revenueData.Value.Item2.Select(x => Decimal.Parse(x)).Sum().ToString();
    string revenueValues = string.Join(", ", revenueData.Value.Item2);
    Decimal revenueValuesMax = revenueData.Value.Item2.Select(x => Decimal.Parse(x)).Max();
    Decimal tenPercentsFromRevenueValuesMax = revenueValuesMax / 100 * 10;
    revenueValuesMax += tenPercentsFromRevenueValuesMax;

    for (int i = 0; i < revenueData.Value.Item1.Count(); i++)
    {
        string item = revenueData.Value.Item1.ElementAt(i);

        if (i != revenueData.Value.Item1.Count() - 1)
        {
            revenueDates += $"\"{item}\", ";
        }
        else
        {
            revenueDates += $"\"{item}\"";
        }
    }

    #endregion RevenueData

    #region OrdersData

    var ordersData = Model.Stats.FirstOrDefault(x => x.Key == RustShopStatsUnitEnum.Orders);
    string ordersDates = string.Empty;
    string ordersTotal = ordersData.Value.Item2.Select(x => Int32.Parse(x)).Sum().ToString();
    string ordersValues = string.Join(", ", ordersData.Value.Item2);
    int ordersValuesMax = ordersData.Value.Item2.Select(x => Int32.Parse(x)).Max();
    int tenPercentsFromOrdersValuesMax = (ordersValuesMax / 100 * 10) > 0 ? ordersValuesMax / 100 * 10 : 1;
    ordersValuesMax += tenPercentsFromOrdersValuesMax;

    for (int i = 0; i < ordersData.Value.Item1.Count(); i++)
    {
        string item = ordersData.Value.Item1.ElementAt(i);

        if (i != ordersData.Value.Item1.Count() - 1)
        {
            ordersDates += $"\"{item}\", ";
        }
        else
        {
            ordersDates += $"\"{item}\"";
        }
    }

    #endregion OrdersData

    #region SoldItems

    var soldItemsData = Model.Stats.FirstOrDefault(x => x.Key == RustShopStatsUnitEnum.ItemsSold);
    string soldItemsDates = string.Empty;
    string soldItemsTotal = soldItemsData.Value.Item2.Select(x => Int32.Parse(x)).Sum().ToString();
    string soldItemsValues = string.Join(", ", soldItemsData.Value.Item2);
    int soldItemsValuesMax = soldItemsData.Value.Item2.Select(x => Int32.Parse(x)).Max();
    int tenPercentsFromSoldItemsValuesMax = (soldItemsValuesMax / 100 * 10) > 0 ? soldItemsValuesMax / 100 * 10 : 1;
    soldItemsValuesMax += tenPercentsFromSoldItemsValuesMax;

    for (int i = 0; i < soldItemsData.Value.Item1.Count(); i++)
    {
        string item = soldItemsData.Value.Item1.ElementAt(i);

        if (i != soldItemsData.Value.Item1.Count() - 1)
        {
            soldItemsDates += $"\"{item}\", ";
        }
        else
        {
            soldItemsDates += $"\"{item}\"";
        }
    }

    #endregion SoldItems

    #region Buyers

    var buyersData = Model.Stats.FirstOrDefault(x => x.Key == RustShopStatsUnitEnum.Buyers);
    string buyersDates = string.Empty;
    string buyersTotal = buyersData.Value.Item2.Select(x => Int32.Parse(x)).ToList().Distinct().Sum().ToString();
    string buyersValues = string.Join(", ", buyersData.Value.Item2);
    int buyersValuesMax = buyersData.Value.Item2.Select(x => Int32.Parse(x)).Max();
    int tenPercentsFromBuyersValuesMax = (buyersValuesMax / 100 * 10) > 0 ? buyersValuesMax / 100 * 10 : 1;
    buyersValuesMax += tenPercentsFromBuyersValuesMax;

    for (int i = 0; i < buyersData.Value.Item1.Count(); i++)
    {
        string item = buyersData.Value.Item1.ElementAt(i);

        if (i != buyersData.Value.Item1.Count() - 1)
        {
            buyersDates += $"\"{item}\", ";
        }
        else
        {
            buyersDates += $"\"{item}\"";
        }
    }

    #endregion Buyers

}

<div class="row">
    <div class="col-xs-2 col-xs-offset-10 m-b-md">
        <div class="title-bar">
            <div class="title-bar-actions">
                <div class="btn-group bootstrap-select dropdown fit-width">
                    <select id="selectPeriod" class="selectpicker dropdown" name="period" data-dropdown-align-right="true" data-style="btn-default btn-sm" data-width="fit" tabindex="-98">
                        @Html.Raw(selectOptions)
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gutter-xs">
    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="card-values">
                <div class="p-x">
                    <small>Revenue</small>
                    <h3 class="card-title fw-l">$@revenueTotal</h3>
                </div>
            </div>
            <div class="card-chart">
                <canvas data-chart="line"
                        data-animation="false"
                        data-labels='[@revenueDates]'
                        data-values='[{"backgroundColor": "rgba(255, 255, 255, 0.1)", "borderColor": "#00aced", "data": [@revenueValues]}]'
                        data-scales='{"yAxes": [{ "ticks": {"max": @revenueValuesMax}}]}'
                        data-hide='["legend", "points", "scalesX", "scalesY", "tooltips"]'
                        height="35"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="card-values">
                <div class="p-x">
                    <small>Orders</small>
                    <h3 class="card-title fw-l">@ordersTotal</h3>
                </div>
            </div>
            <div class="card-chart">
                <canvas data-chart="line"
                        data-animation="false"
                        data-labels='[@ordersDates]'
                        data-values='[{"backgroundColor": "rgba(255, 255, 255, 0.1)", "borderColor": "#00aced", "data": [@ordersValues]}]'
                        data-scales='{"yAxes": [{ "ticks": {"max": @ordersValuesMax}}]}'
                        data-hide='["legend", "points", "scalesX", "scalesY", "tooltips"]'
                        height="35"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="card-values">
                <div class="p-x">
                    <small>Items</small>
                    <h3 class="card-title fw-l">@soldItemsTotal</h3>
                </div>
            </div>
            <div class="card-chart">
                <canvas data-chart="line"
                        data-animation="false"
                        data-labels='[@soldItemsDates]'
                        data-values='[{"backgroundColor": "rgba(255, 255, 255, 0.1)", "borderColor": "#00aced", "data": [@soldItemsValues]}]'
                        data-scales='{"yAxes": [{ "ticks": {"max": @soldItemsValuesMax}}]}'
                        data-hide='["legend", "points", "scalesX", "scalesY", "tooltips"]'
                        height="35"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="card-values">
                <div class="p-x">
                    <small>Buyers</small>
                    <h3 class="card-title fw-l">@buyersTotal</h3>
                </div>
            </div>
            <div class="card-chart">
                <canvas data-chart="line"
                        data-animation="false"
                        data-labels='[@buyersDates]'
                        data-values='[{"backgroundColor": "rgba(255, 255, 255, 0.1)", "borderColor": "#00aced", "data": [@buyersValues]}]'
                        data-scales='{"yAxes": [{ "ticks": {"max": @buyersValuesMax}}]}'
                        data-hide='["legend", "points", "scalesX", "scalesY", "tooltips"]'
                        height="35"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row gutter-xs">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Revenue Overview</h4>
            </div>
            <div class="card-body">
                <div class="card-chart">
                    <canvas data-chart="line"
                            data-animation="false"
                            data-labels='["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]'
                            data-values='[
                            {
                                "label": "This week",
                                "backgroundColor": "transparent",
                                "borderColor": "#00aced",
                                "pointBackgroundColor": "#00aced",
                                "data": [29432, 20314, 17665, 22162, 31194, 35053, 29298]
                            },
                            {
                                "label": "Last week",
                                "backgroundColor": "transparent",
                                "borderColor": "#75ac00",
                                "pointBackgroundColor": "#75ac00",
                                "data": [9956, 22607, 30963, 22668, 16338, 22222, 39238]
                            }]'
                            data-tooltips='{"mode": "label"}'
                            data-hide='["gridLinesX", "legend"]'
                            height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/customScripts/Rust/RustShopStatsSetLocationHref.js" asp-append-version="true"></script>
}
