@{
    ViewData["Title"] = "Home";
    Layout = "Partial/_HomeLayout";
}

<div class="masthead">
    <div class="masthead-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-0">
                            <img class="masthead-img" src="~/img/LogoNameSlogan.png" alt="LogoNameSlogan.png">
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <h3 class="masthead-heading">This app was published for test purposes.</h3>
                            <p class="masthead-lead">Later hire will be service presentation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partial/_FooterBig")
