@{
    ViewData["Title"] = "Landing";
    Layout = "Partial/_Layout";
}

<div class="masthead">
    <div class="masthead-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-0">
                            <img class="masthead-img" src="~/img/LogoNameSlogan.png" alt="LogoNameSlogan.png">
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <h3 class="masthead-heading">The fastest way to build modern admin site for any platform, browser, or device</h3>
                            <p class="masthead-lead">Elephant is a front-end template created to help you develop modern web applications, fast and in a professional manner. Built on top of Bootstrap, it includes a large collection of HTML, CSS, and JS components that is simple to use and easy to customise.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4 class="footer-heading">Elephant</h4>
                <p>
                    <small>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ac fermentum nibh, sit amet volutpat.</small>
                </p>
                <div class="social-list">
                    <a class="social-list-item" href="#">
                        <span class="icon icon-twitter"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-linkedin"></span>
                    </a>
                    <a class="social-list-item" href="#">
                        <span class="icon icon-vimeo"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-md-offset-2">
                <h4 class="footer-heading">Elephant</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Guidelines
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Staff
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h4 class="footer-heading">Help</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Help Center
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Elephant Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            FAQs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Forums
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h4 class="footer-heading">Upgrade</h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Personal
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Organization
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Organization Plus
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-angle-right"></span>
                            Enterprise
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>© 2016 Elephant, LLC. All rights reserved.</p>
    </div>
</div>
