
@{
    ViewData["Title"] = "Index";
}

<div class="title-bar">
    <h1 class="title-bar-title">Basic template</h1>
    <p class="title-bar-description">
        <small>Use this page as a basic template for developing your application.</small>
    </p>
</div>