@{
    ViewData["Title"] = "Home page";
    Layout = "Partial/_HomeLayout";
}

<div class="masthead">
    <div class="masthead-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-0">
                            <img class="masthead-img" src="~/img/LogoNameSlogan.png" alt="LogoNameSlogan.png">
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <h3 class="masthead-heading">The fastest way to build modern admin site for any platform, browser, or device</h3>
                            <p class="masthead-lead">Elephant is a front-end template created to help you develop modern web applications, fast and in a professional manner. Built on top of Bootstrap, it includes a large collection of HTML, CSS, and JS components that is simple to use and easy to customise.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partial/_FooterBig")
