@{
    ViewData["Title"] = "Not found";
    Layout = "Partial/_ErrorLayout";
}

<div class="error">
    <div class="error-body">
        <h1 class="error-heading">Page Not Found</h1>
        <h4 class="error-subheading">We are sorry, the page you requested cannot be found.</h4>
        <p>
            <small>The URL may be misspelled or the page you're looking for is no longer available.</small>
        </p>
        <p><a class="btn btn-primary btn-pill btn-thick" href="https://server-monetization.com/">Go to control panel</a></p>
    </div>
    <div class="error-footer">
        <p>
            <small>&copy; @DateTime.Now.Year Server-Monetization</small>
        </p>
    </div>
</div>

