@{
    ViewData["Title"] = "Server error";
    Layout = "Partial/_ErrorLayout";

    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;
}

<div class="error">
    <div class="error-body">
        <h1 class="error-heading">Server Error</h1>
        <h4 class="error-subheading">Looks like something went wrong!</h4>
        <p>
            <small>We track these errors automatically, but if the problem persists feel free to <a href="https://server-monetization.com/ContactUs/Index">contact us</a>.</small>
        </p>
        <p><a class="btn btn-primary btn-pill btn-thick" href="https://server-monetization.com/">Go to control panel</a></p>
    </div>
    <div class="error-footer">
        <ul class="list-inline">
            <li>
                <a class="link-muted" href="https://twitter.com/ServerMonetiza1" target="_blank">
                    <span class="icon icon-twitter icon-2x"></span>
                </a>
            </li>
            <li>
                <a class="link-muted" href="https://www.facebook.com/groups/171782827404971/" target="_blank">
                    <span class="icon icon-facebook-official icon-2x"></span>
                </a>
            </li>
            <li>
                <a class="link-muted" href="https://www.linkedin.com/groups/8886524/" target="_blank">
                    <span class="icon icon-linkedin icon-2x"></span>
                </a>
            </li>
        </ul>
        <p>
            <small>&copy; @DateTime.Now.Year Server-Monetization</small>
        </p>
    </div>
</div>