@model EasyShop.Domain.ViewModels.ControlPanel.Shop.ShopsManagerViewModel

<li class="sidenav-item has-subnav">
    <a asp-area="" asp-controller="ShopManager" asp-action="ShopsManager" aria-haspopup="true">
        <span class="sidenav-icon icon icon-shopping-bag"></span>
        <span class="sidenav-label">My Shops</span>
    </a>
    <ul class="sidenav-subnav collapse">
        <li><a asp-area="" asp-controller="ShopManager" asp-action="CreateShop"><span class="text-primary text-capitalize"><strong>Create New</strong> <span class="badge badge-danger">New</span></span></a></li>
        <li><a asp-area="" asp-controller="ShopManager" asp-action="ShopsList"><span style="color: #00aced;">Shops list</span></a></li>
        @{
            foreach (var shop in Model.Shops)
            {
                <li><a asp-area="" asp-controller="ShopManager" asp-action="EditShopHandler" asp-route-shopId="@shop.Id"><span class="sidenav-icon icon icon-shopping-bag"></span> @shop.ShopName</a></li>
            }
        }
    </ul>
</li>