textarea {
    width: 100%;
    max-width: 100%;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 113px;
    background-color: #333333;
    border: 1px solid #1b1b1b;
    outline: none;
}

.rustProductImage {
    display: flex;
    justify-content: center;
}

.showInShopWrap {
    display: flex;
}

    .showInShopWrap > label {
        text-align: left;
    }

.form-overlay {
    position: absolute;
    top: calc(0px - 0.5%);
    left: calc(0px - 1%);
    border-radius: 5px;
    width: 102%;
    height: 102%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.form-overlay-parent {
    position: relative;
}
