@{
    Layout = "_BaseLayout";
}

<body class="spinner spinner-primary spinner-lg">
    @await Html.PartialAsync("Partial/_NavBar")
    @RenderBody()
    @await Html.PartialAsync("_Scripts")
</body>

@section Styles {
    @await Html.PartialAsync("_Styles")
    @RenderSection("Styles", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}