@{
    Layout = "_BaseLayout";
}

<body class="spinner spinner-primary spinner-lg">
    @await Html.PartialAsync("Partial/_NavBar")
    @RenderBody()
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/elephant.js" asp-append-version="true"></script>
    <script src="~/js/landing-page.js" asp-append-version="true"></script>
    @await Html.PartialAsync("Partial/_GoogleAnalyticsObject")
</body>

@section Styles {
    <link rel="stylesheet" href="~/css/landing-page.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true">
}

@section Scripts {
    @RenderSection("Scripts", false)
}