@model EasyShop.Domain.ViewModels.CP.Admin.BugReport.BugReportsListViewModel
@{
    ViewData["Title"] = "Bug reports";
    Layout = "_AdminLayout";
}



<div class="panel well">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Products manager</h2>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.BugReports != null)
                        {
                            <table id="bugReportsTable" data-order='[[ 0, "asc" ]]' class="table table-middle nowrap dataTable no-footer" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var bug in Model.BugReports)
                                        {
                                            <tr role="row">
                                                <td><strong>@bug.Title</strong></td>
                                                <td><strong>@bug.Category.Description</strong></td>
                                                <td><strong>@bug.ReportedDateTime</strong></td>
                                                <td><strong>@bug.Status.Description</strong></td>
                                                <td><a href="#"><strong><span class="icon icon-edit icon-lg"></span></strong></a></td>
                                                <td><a style="color: red" href="#"><strong><span class="icon icon-times icon-lg"></span></strong></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="text-center">No reports found</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom/Shared/DynamicTableStyles.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bugReportsTable').DataTable({
                "columns": [
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true },
                    { "searchable": true }
                ]
            });
        });
    </script>
}
