@{
    ViewData["Title"] = "Access denied";
    Layout = "_BaseLayout";
}

<div class="error">
    <div class="error-body">
        <h1 class="error-heading">Access denied</h1>
        <h4 class="error-subheading">Looks like you try to crack the system - Good luck =)</h4>
        <p>
            <small>If you get to this page by some error, then try to Re-Login into the system and try again. If the problem doesn't go then feel free to <a href="#">contact us</a>.</small>
        </p>
        <p><a class="btn btn-primary btn-pill btn-thick" asp-area="" asp-controller="Home" asp-action="Index">Return to homepage</a></p>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/errors.min.css">
}