
@{
    ViewData["Title"] = "EmailConfirmationRequestHasBeenSent";
    Layout = "Partial/_Layout";
}

<div class="well text-center">
    <h1><span class="icon icon-check"></span></h1>
    <p class="text-warning">An email confirmation request has been sent to you by e-mail. Please check your email, it also can be in a SPAM folder. That can take up to 15 min.</p>
</div>

