
@{
    ViewData["Title"] = "Email Have To Be Confirmed";
    Layout = "_AuthLayout";
}

<div class="well text-center">
    <p>
        Email has not been confirmed! Sorry we can't help you with this case.
    </p>
</div>

