@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AuthLayout";
}

<div class="login">
    <div class="login-body">
        <a class="login-brand" asp-area="" asp-controller="Home" asp-action="Index" asp-route-Authenticated="@false">
            <img class="img-responsive" src="~/img/LogoNameSlogan.png" alt="Monetization">
        </a>
        <div class="login-form">
            <form data-toggle="validator" asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input asp-for="Email" id="email" class="form-control" type="email" name="email" spellcheck="false" autocomplete="off" data-msg-required="Please enter your email address." required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <p class="help-block">
                        <small>If you've forgotten your password, we'll send you an email to reset your password.</small>
                    </p>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Request password reset</button>
            </form>
        </div>
    </div>
    <div class="login-footer">
        Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/login-2.css" asp-append-version="true">
}

@section Scripts {
    @await Html.PartialAsync("Partial/_ValidationScripts")
}