@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Password reset";
    Layout = "_AuthLayout";
}

<div class="login">
    <div class="login-body">
        <a class="login-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img class="img-responsive" src="~/img/LogoNameSlogan.png" alt="Monetization">
        </a>
        <div class="well text-center">
            <h4>Password reset</h4>
        </div>
        <form asp-area="" asp-controller="Account" asp-action="ResetPassword" data-toggle="validator" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="UserId" type="hidden" value="@Context.Request.Query["userId"]"/>
            <div class="form-group">
                <label for="password">Password</label>
                <input asp-for="Password" id="password" class="form-control" type="password" minlength="10" data-msg-minlength="Password must be 10 characters or more." data-msg-required="Please enter your password." required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input asp-for="ConfirmPassword" id="confirmPassword" class="form-control" type="password" minlength="10" data-msg-minlength="Password must be 10 characters or more." data-msg-required="Please enter your password." required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Reset password</button>
        </form>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/login-2.css" asp-append-version="true">
}