@{
    ViewData["Title"] = "Something went wrong";
    Layout = "Partial/_HomeLayout";
}


<div class="p-t-lg"></div>
<div class="p-t-lg">
    <h3 class="text-center">
        <span class="icon icon-gears icon-lg"></span> Something went wrong, please be patient and try again.
    </h3>
</div>
