@model EasyShop.Domain.ViewModels.Shop.Rust.RustShopViewModel

<ul class="profile-nav">
    <li rustShopNav rustShopNavBorder><a asp-area="" asp-controller="RustShop" asp-action="Index" asp-route-shopId="@Model.Id">Stats</a></li>
    <li rustShopNav rustShopNavBorder><a asp-area="" asp-controller="RustShop" asp-action="MainSettings" asp-route-shopId="@Model.Id">Settings</a></li>
</ul>