@{
    Layout = "Partial/_RustBaseLayout";
}

<div class="row gutter-lg">
    <div class="col-sm-3">
        @await Html.PartialAsync("Partial/_LeftSideBar")
    </div>
    <div class="col-sm-9">
        @RenderBody()
    </div>
</div>

@section Styles {
    @RenderSection("Styles", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}