
@{
    ViewData["Title"] = "Email Have To Be Confirmed";
    Layout = "Partial/_Layout";
}

<div class="well text-center">
    <h1><span class="icon icon-times"></span></h1>
    <p>The email has not been confirmed! Please, confirm your email.</p>
</div>


