
@{
    ViewData["Title"] = "PasswordResetRequest";
    Layout = "Partial/_Layout";
}


<div class="well text-center">
    <p>Password reset request. Press the button below to reset your password.</p>
    <form method="post" asp-area="" asp-controller="Account" asp-action="ForgotPassword" asp-route-Email="@User.Identity.Name">
        <button class="btn btn-primary btn-lg" type="submit">Send link to E-mail</button>
    </form>
</div>
