
@{
    ViewData["Title"] = "Security";
    Layout = "Partial/_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <h3>Password</h3>
        <form method="get">
            <button class="btn btn-primary" type="button">Reset password</button>
        </form>
    </div>

</div>

