@{
    ViewData["Title"] = "Contact Us";
    Layout = "Partial/_ContactUsLayout";
}

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <a class="link-muted" asp-area="" asp-controller="ContactUs" asp-action="BugReport">
                    <div class="card-body">
                        <h2 class="card-title fw-l">Bug report</h2>
                    </div>
                    <div>
                        <img class="img-responsive" src="~/img/default-bug.jpg" alt="default-bug.jpg">
                    </div>
                    <div class="card-body">
                        <small>Select this helpline if you found any bugs in our system.</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <a class="link-muted" asp-area="" asp-controller="ContactUs" asp-action="GeneralSupport">
                    <div class="card-body">
                        <h2 class="card-title fw-l">General support</h2>
                    </div>
                    <div>
                        <img class="img-responsive" src="~/img/default-other-questions.jpg" alt="default-other-questions.jpg">
                    </div>
                    <div class="card-body">
                        <small>Select this helpline if you have any other questions.</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <a class="link-muted" asp-area="" asp-controller="ContactUs" asp-action="Collaboration">
                    <div class="card-body">
                        <h2 class="card-title fw-l">Collaboration</h2>
                    </div>
                    <div>
                        <img class="img-responsive" src="~/img/default-collaboration.png" alt="default-collaboration.png">
                    </div>
                    <div class="card-body">
                        <small>Choose this if you have any suggestions for collaboration.</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
