@{
    ViewData["Title"] = "Contact Us";
    Layout = "Partial/_ContactUsLayout";
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <a class="link-muted" href="#">
                <div class="card-body">
                    <h2 class="card-title fw-l">Bug report</h2>
                </div>
                <div class="card-image">
                    <img class="img-responsive" src="~/img/default-bug.jpg" alt="default-bug.jpg">
                </div>
                <div class="card-body">
                    <h5>Select this helpline if you found any bugs in our system.</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <a class="link-muted" href="#">
                <div class="card-body">
                    <h2 class="card-title fw-l">Rust shop support</h2>
                </div>
                <div class="card-image">
                    <img class="img-responsive" src="~/img/default-rust.jpg" alt="default-rust.jpg">
                </div>
                <div class="card-body">
                    <h5>Select this helpline if you need any help with Rust shop.</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <a class="link-muted" href="#">
                <div class="card-body">
                    <h2 class="card-title fw-l">General support</h2>
                </div>
                <div class="card-image">
                    <img class="img-responsive" src="~/img/default-other-questions.jpg" alt="default-other-questions.jpg">
                </div>
                <div class="card-body">
                    <h5>Select this helpline if you have any other questions</h5>
                </div>
            </a>
        </div>
    </div>
</div>
