@model string
@{
    ViewData["Title"] = "SomethingWentWrong";
    Layout = "_AdminLayout";
}

<div class="well text-center">
    <h1><span class="icon icon-gears"></span></h1>
    <p class="text-warning">Something went wrong on @Model.</p>
</div>

