<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/manifest.json">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#00aced">
    <meta name="theme-color" content="#1b1b1b">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/elephant.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/application.min.css" asp-append-version="true">
    

    <link rel="stylesheet" href="~/css/custom/Override/override-elephant.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom/Override/override-application.css" asp-append-version="true">


    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>