<div class="list-group-divided payoutNavigationDiv">
    <a class="list-group-item" asp-controller="Payout" asp-action="Summary">
        Summary
    </a>
    <a class="list-group-item" asp-controller="Payout" asp-action="Withdraw">
        Withdraw
    </a>
    <a class="list-group-item" asp-controller="Payout" asp-action="History">
        History
    </a>
</div>
