<div class="row">
    <div class="col-lg-12">
        <div id="AdminNavigation" class="list-group-divided">
            <a class="list-group-item index" asp-area="" asp-controller="Admin" asp-action="Index">
                <span class="icon icon-pie-chart icon-lg icon-fw"></span>
                Admin dashboard
            </a>
            <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="TariffManager">
                <span class="icon icon-sliders icon-lg icon-fw"></span>
                Tariffs manager
            </a>
            <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="BugReportsList">
                <span class="icon icon-bug icon-lg icon-fw"></span>
                Bug reports
            </a>
            <a class="list-group-item" asp-area="" asp-controller="Notification" asp-action="EditNotification">
                <span class="icon icon-bug icon-lg icon-fw"></span>
                Create notification
            </a>
        </div>
    </div>
</div>