<div class="row">
    <div class="col-lg-12">
        <div class="list-group-divided">
            <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="Index">
                <span class="icon icon-pie-chart icon-lg icon-fw"></span>
                Admin dashboard
            </a>
            <a class="list-group-item" asp-area="" asp-controller="Admin" asp-action="TariffManager">
                <span class="icon icon-sliders icon-lg icon-fw"></span>
                Tariffs manager
            </a>
        </div>
    </div>
</div>